#levelprompt {
    width: 130px;
    margin: 0 auto;
}
#mincourseLevel { 
    padding-right: 20px;
}
#helpIconLevel {
    padding-right: 10px;
}
@font-face {
    font-family: Balsamiq; 
    src: url("../fonts/BalsamiqSans-Regular.ttf");
  }
h2 {
    font-family: Balsamiq;
    color:#cc0000 !important;
}
label {
    color: #cc0000
}
#whichdeptdiv {
    padding-top: 10px;
}

#loadingMsg {
    margin-top: 20px;
    text-align: center;
    color: #cc0000;
    font-weight: bold;
    font-size: 30px !important;
}
#loadingMsgDivvv {
    max-width: 50%;
}

#allLevelDivs {
    display: inline-flex;
    padding-top: 15px;
}
#allLevelDivsMobile {
    padding-bottom: 20px;
}
#mincourseLevel {
    padding-right: 20px;
}
#level_min {
    padding-right: 20px;
}
#level_max { 
    padding-right: 20px;
}
#maxcourseLevel {
    padding-left: 10px;
    padding-right: 20px;
}