#whichgepdiv {
    padding-top: 15px;   
}
#selectGep {
    color: #cc0000;
}
#typeofgepLabel {
    color: #cc0000;
}
#tableNoteMsg {
    text-align: center;
    padding-bottom: 0px;
}
#tableNote {
    word-wrap: break-word;
    width: 800px;
    margin: 0 auto;
}
#loadingMsg {
    margin-top: 20px;
    color: #cc0000;
    font-weight: bold;
    font-size: 30px !important;
}
p, em {
    font-family: 'Exo 2', sans-serif !important;
}