@font-face {
    font-family: Balsamiq; 
    src: url("../fonts/BalsamiqSans-Regular.ttf");
  }
h1 {
    font-family: Balsamiq;
    color:#cc0000;
}
#welcome {
    color: #cc0000;
    font-size: 69.420px; /* Nice */
}
#welcomeMobile {
    color: #cc0000;
    font-size: 49.620px;
}
#lab {
    padding-top: 0px !important;
    color: #cc0000;
}
#getlabel {
    color: #cc0000;
}
#whichtermlabel {
    color: #cc0000;
}
p {
    color: #cc0000
}
h2 {
    color: #cc0000
}
label {
    color: #cc0000
}
nav {
    background-color: #cc0000
}
button {
    background-color: #cc0000 !important;
}

#termDiv {
    padding-left: 20px;
}
#gepDiv {
    padding-left: 20px;
}
#gepDivLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
}
#termDivLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
}
#goButton {
    display: flex;
    justify-content: center;
    color: #cc0000;
}

#instructions {
    justify-content: space-between;
    display: flex;
    float: left;
    position: relative;
}
#introlist {
    justify-content: space-between;
    display: flex;
    float: left;
    position: relative;
}

#labGradient {
    max-width: 800px;
    margin: auto;
    color: #cc0000 !important;
    padding-bottom: 30px;
    font-size: 31.415926535897932384626433833px;
    padding-top: 0px !important;
    font-family: 'Exo 2', sans-serif;
    padding-left: 25px;
}
#labGradientMobile {
    max-width: 800px;
    margin: auto;
    color: #cc0000 !important;
    padding-bottom: 30px;
    font-size: 22.45px;
    padding-top: 0px !important;
    font-family: 'Exo 2', sans-serif;
    padding-left: 25px;
}
#lab {
    max-width: 800px;
    margin: auto;
    color: black !important;
    font-family: 'Exo 2', sans-serif;
}
#labLink {
    font-family: 'Exo 2', sans-serif;
}