#success {
    color: green;
    font-weight: bold !important;
}
.txt1 {
    font-weight: bold;
    font-size: 18px;
    color: #cc0000;
}
.dontSeeIt {
    font-size: 18px;
    color: #cc0000;
}
#retryForgot {
    color: #cc0000;
    background-color: white !important;
    border: 1px solid #cc0000;
}