<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EasyA!</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/index.js"></script>
</head>
<body>
<h1>Welcome to EasyA!</h1>
<h4>This tool allows you to find which NC State GEP or elective courses will be the best
    for you to take!</h4>
<div class="gepornot">
    <label for="gepornot">Are you looking for a GEP or a course from a specific department?</label>
    <select id="gepornot" name = "gepornot">
        <option value="/gep">GEP</option>
        <option value="/dept">Course Department</option>
    </select>
    <button type="button" id="goto" onclick = "gepOrNotSelect()">Go</button>
</div>
</body>
</html>                                		                            