<!DOCTYPE html>
<html lang="en">
<!-- Head of Landing Page -->
<head>
  <!-- Title and Basic Setup -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EasyA!</title>

  <!--Bootstrap and imports for Ajax and Jquery -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Stylesheet with font and colors for text. -->
  <link rel="stylesheet" type="text/css" href="./static/css/index.css">
</head>

<!-- Body of Landing Page -->
<body>
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
      <!-- Top of Navbar -->
      <a class="navbar-brand" href="#">EasyA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Elements in navbar -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- Current navbar element, homepage -->
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- Link in navbar to login page -->
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <!-- Link to about page -->
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <!-- Link to services page -->
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <!-- Link to contact page -->
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Starts page by hiding both GEP and department options -->
  <style type="text/css">
      div#typeofgep {
        display:none;
      }
      div#typeofdept {
        display:none;
      }
  </style>

  <!-- Javascript function to show proper div (gep or dept) depending on user selection -->
  <script>
      function goToGEPorDept() {
          if ($("#gepornot").val() == "/gep") {
              //If gep was selected, show it.s
              $("#typeofdept").hide();
              $("#typeofgep").show();
          }
          else {
              //If dept was selected, show it.
              $("#typeofgep").hide();
              $("#typeofdept").show();
          }
      };
  </script>

  <!-- Text at the top to welcome user -->
  <div class="col-lg-12 text-center">
      <h1 class="mt-5">Welcome to EasyA!</h1>
      <p class="lead">This tool allows you to find which NC State GEP or elective courses will be the best for you to take!</p>
  </div>

  <!-- Gives user option of GEP or specific department -->
  <div class="text-center">
      <label for="gepornot" class="lead">Are you looking for a GEP or a course from a specific department?</label>
      <select id="gepornot" name="gepornot" class="bg-light">
          <!-- options for user to select -->
          <option value="/gep">GEP</option>
          <option value="/dept">Course Department</option>
      </select>
      <button type="button" class="btn btn-danger"s id="goto" onclick="goToGEPorDept();">Go</button>
  </div>

  <!-- If user selects GEP, gives options of all of the geps and clickable button. -->
  <div id="typeofgep" class="text-center">
      <h2 class="mt-5">Select a GEP</h2>
      <label for="typeofgep">Please select the type of GEP you are looking for.</label>
      <!-- selectable options for GEPs -->
      <select id="typeofgep" name = "typeofgep" class="bg-light">
          <option value="hesf">Health and Exercise Studies</option>
          <option value="hum">Humanities</option>
          <option value="idp">Interdisciplinary Perspectives</option>
          <option value="math">Mathematical Sciences</option>
          <option value="natsci">Natural Sciences</option>
          <option value="social">Social Sciences</option>
          <option value="usd">US Diversity</option>
          <option value="addtl">Additional Breadth</option>
          <option value="visual">Visual and Performing Arts</option>
      </select>
      <!-- button to select a specific GEP TODO: implement onclick-->
      <button type="button" class="btn btn-danger" id="whichgep" name="whichgep">Select</button>
  </div>

  <!-- If user selects Department, page acts accordingly -->
  <div id="typeofdept" class="text-center">
      <h2 class="mt-5">Select a Department</h2>
      <!-- Gives options for specific department the user is looking for -->
      <label for="typeofdept">Please select the department of the course/elective you are looking for.</label>
      <select id="typeofdept" name = "typeofdept" class="bg-light">
          <!-- TOBEIMPLEMENTED-->
      </select>
      <button type="button" class="btn btn-danger" id="whichdept" name="whichdept">Select</button>
  </div>
  
</body>
</html>                                		                            