/*@font-face {
    font-family: Balsamiq;
    src: url("../fonts/BalsamiqSans-Regular.ttf");
}  */
nav {
    background-color: #cc0000
}
#homelink {
    color: white;
    font-size: 16px;
    text-decoration: none !important;
}

#loginlink {
    color: white;
    font-size: 16px;
    text-decoration: none !important;
}
#instructionlink {
    color: white;
    font-size: 16px;
    text-decoration: none !important;
}
#aboutlink {
    color: white;
    font-size: 16px;
    text-decoration: none !important;
}
#contactlink {
    color: white;
    font-size: 16px;
    text-decoration: none !important;
}

#homepagelink {
    color: white;
    font-size: 16px;
    text-decoration: none !important;
    background-color: #cc0000 !important;
}

#signoutlink {
    color:white;
    font-size: 16px;
    text-decoration: none !important;
    background-color: #cc0000 !important
}
#wishlistlink {
    color: white;
    font-size: 16px;
    text-decoration: none !important;
    background-color: #cc0000 !important
}
#contactlink.loggedIn:after {
    content: "|";
    position: absolute;
    margin-left: 5px;
}

#logoNav{
    margin-right: 10px;
}