.table td {
    border: black solid 2.5px !important;
    color: #cc3000;
    background-color: white;
}
.table thead {
    border: black solid 2.5px !important;
    color: red;
    background-color: white;
}
.table tr {
    border: black solid 2.5px !important;
    color: #cc3000;
    background-color: white;
}
.table th{
    border: black solid 2.5px !important;
    color: white;
    background-color: red;
}
#ctool {
    border: white !important;
    color: #cc3000 !important;
    font-weight:bold !important;
    background-color: white !important;
}
#cdiv {
    border: white !important;
    color: #cc3000 !important;
    background-color: white !important;
}
#hovertxt {
    opacity:1;
    z-index:100;
    position: absolute;
}
a:link {
    color: #cc3000;
}

a:visited {
    color: #cc3000;
}

a:hover {
    color: #cc3000;
}