.table td {
    border: black solid 2.5px !important;
    color: red;
    background-color: white;
}
.table thead {
    border: black solid 2.5px !important;
    color: red;
    background-color: white;
}
.table tr {
    border: black solid 2.5px !important;
    color: red;
    background-color: white;
}
.table th{
    border: black solid 2.5px !important;
    color: white;
    background-color: red;
}