.table td {
    border: black solid 2.5px !important;
    color: #cc3000;
    background-color: white;
}
.table thead {
    border: black solid 2.5px !important;
    color: red;
    background-color: white;
}
.table tr {
    border: black solid 2.5px !important;
    color: #cc3000;
    background-color: white;
}
.table th{
    border: black solid 2.5px !important;
    color: white;
    background-color: red;
}

a:link {
    color: #cc3000;
}

a:visited {
    color: #cc3000;
}

a:hover {
    color: #cc3000;
}