#googleicon {
    float:none !important;
    position:static !important;
    display:block !important;
    margin: 0 auto !important;
    background-color: white !important;
    text-align: center !important;
    
}
#notamember {
    padding-right: 10px;
}
#googlesignInbutton {
    background-color: #cc0000 !important;
    color: white !important;
}
#googleButton {
    margin: 0 auto !important;
}
#orLoginWith {
    padding-top: 20px;
}
#emailForm {
    text-align: center;
}
#pwdForm {
    text-align: center;
}
#incorrect {
    color: #cc0000;
    font-weight: bold !important;
}

#signUpNow {
    text-align: center !important;
}