#backtohmpg {
    display: inline-block !important;
    vertical-align: middle !important;
}
#delWishlist {
    display: inline-block !important;
    vertical-align: middle !important;
}
#deleteItems {
    padding-top: 20px;
}
#termWishlist {
    padding-top: 0px !important;
}
#termWishlistHeader {
    color: #cc0000;
    font-weight: bold;
    padding-top: 25px;
    text-decoration: underline;
}
#majorSelect {
    padding-top:20px;
}
#majordisplay {
    padding-top: 20px;
}
#yourMajor {
    color: #cc0000;
    font-weight: lighter !important;
}